<div class="grid grid-cols-1 xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-6 gap-5 p-5">
  <div class="p-5 bg-white  border-gray-300 dark:bg-gray-900 dark:border-gray-800 shadow-lg rounded-xl">
    <div class="flex flex-row items-center justify-between">
      <p class="text-lg font-semibold text-green-500">Global Active</p>
      <p class="font-semibold text-gray-900 dark:text-gray-100">{{(all?.active | number) || '-'}}</p>
    </div>
    <div class="flex flex-row items-center justify-between">
      <p class="text-gray-500 dark:text-gray-300">Per one million</p>
      <p class="text-gray-500 dark:text-gray-300">{{(all?.activePerOneMillion | number) || '-'}}</p>
    </div>
  </div>
  <div class="p-5 bg-white border-gray-300 dark:bg-gray-900 dark:border-gray-800 shadow-lg rounded-xl">
    <div class="flex flex-row items-center justify-between">
      <p class="text-lg font-semibold text-blue-500">Global Cases</p>
      <p class="font-semibold text-gray-900">{{(all?.cases | number) || '-'}}</p>
    </div>
    <div class="flex flex-row items-center justify-between">
      <p class="text-gray-500 dark:text-gray-300">Per one million</p>
      <p class="text-gray-500 dark:text-gray-300">{{(all?.casesPerOneMillion | number) || '-'}}</p>
    </div>
  </div>
  <div class="p-5 bg-white border-gray-300 dark:bg-gray-900 dark:border-gray-800 shadow-lg rounded-xl">
    <div class="flex flex-row items-center justify-between">
      <p class="text-lg font-semibold text-orange-500">Global Critical</p>
      <p class="font-semibold text-gray-900">{{(all?.critical | number) || '-'}}</p>
    </div>
    <div class="flex flex-row items-center justify-between">
      <p class="text-gray-500 dark:text-gray-300">Per one million</p>
      <p class="text-gray-500 dark:text-gray-300">{{(all?.criticalPerOneMillion | number) || '-'}}</p>
    </div>
  </div>
  <div class="p-5 bg-white border-gray-300 dark:bg-gray-900 dark:border-gray-800 shadow-lg rounded-xl">
    <div class="flex flex-row items-center justify-between">
      <p class="text-lg font-semibold text-red-500">Global Deaths</p>
      <p class="font-semibold text-gray-900">{{(all?.deaths | number) || '-'}}</p>
    </div>
    <div class="flex flex-row items-center justify-between">
      <p class="text-gray-500 dark:text-gray-300">Per one million</p>
      <p class="text-gray-500 dark:text-gray-300">{{(all?.deathsPerOneMillion | number) || '-'}}</p>
    </div>
  </div>
  <div class="p-5 bg-white border-gray-300 dark:bg-gray-900 dark:border-gray-800 shadow-lg rounded-xl">
    <div class="flex flex-row items-center justify-between">
      <p class="text-lg font-semibold text-cyan-500">Global Recovered</p>
      <p class="font-semibold text-gray-900">{{(all?.recovered | number) || '-'}}</p>
    </div>
    <div class="flex flex-row items-center justify-between">
      <p class="text-gray-500 dark:text-gray-300">Per one million</p>
      <p class="text-gray-500 dark:text-gray-300">{{(all?.recoveredPerOneMillion | number) || '-'}}</p>
    </div>
  </div>
  <div class="p-5 bg-white border-gray-300 dark:bg-gray-900 dark:border-gray-800 shadow-lg rounded-xl">
    <div class="flex flex-row items-center justify-between">
      <p class="text-lg font-semibold text-indigo-500">Global Tests</p>
      <p class="font-semibold text-gray-900">{{(all?.tests | number) || '-'}}</p>
    </div>
    <div class="flex flex-row items-center justify-between">
      <p class="text-gray-500 dark:text-gray-300">Per one million</p>
      <p class="text-gray-500 dark:text-gray-300">{{(all?.testsPerOneMillion | number) || '-'}}</p>
    </div>
  </div>
</div>
